// :host-context(body) {
// }
:host ::ng-deep .main-content {
    color: yellow !important;
    background: red !important;
}

.color-guid {
    display: inline-block;
    i {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 20px;
        margin-right: 3px;
    }
    &.red i {
        background: #B6120D;
    }
    &.green i {
        background: #52b974;
    }
    &.amber i {
        background: #F9A70B;
    }
}

.heading-row {
    display: flex;
    >div {
        flex: 1;
        color: #b6bacd;
        font-size: 14px;
        text-align: center;
    }
}

.data-sec {
    margin-bottom: 13px;
    position: relative;
    .data-sec-head {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        color: #ffffff;
        background: #2f3243;
        font-size: 14px;
        border-radius: 5px 5px 0 0;
        span.text-gray {
            color: #7c7f8f;
        }

    }
    .data-sec-body {
        background: #2d2f3c;
        display: flex;
        align-items: center;
        border-radius: 0 0 7px 7px;
        padding: 10px 0;
        >div {
            flex: 1;
            text-align: center;
            color: #ffffff;
            position: relative;
            &:last-child {
                .btn {
                    min-width: 80px;
                }
            }
            .view-btn {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 22px;
                height: 50px;
                background: #252738;
                color: #1b90ec;
                border-radius: 0 5px 5px 0;
                display: block;
                -webkit-text-emphasis: center;
                text-emphasis: center;
                margin: auto;
                text-decoration: none;
                padding: 4px 2px 0 0;
                span {
                    transform: rotate(90deg);
                    display: block;
                }
            }
        }
    }
    >a.detail-link {
        position: absolute;
        width: 110px;
        height: 20px;
        ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    * {
        transition: all .2s;
    }
    &:not(.summary-sec):hover {
        .data-sec-head,
        .data-sec-body>div:not(:last-child) {
            filter: blur(5px);
        }
        >a.detail-link {
            display: block;
            opacity: 1;
            visibility: visible;
        }
    }
    &.summary-sec {
        box-shadow: 0 0 20px #0d1115;
        -moz-box-shadow: 0 0 20px #0d1115;
        -ms-box-shadow: 0 0 20px #0d1115;
        .data-sec-body {
            background: #1da9bd;
            padding: 0;
            border-radius: 7px;
            >div {
                padding: 15px 0;
                position: relative;
                &:first-child {
                    background: #1994a7;
                    border-radius: 7px 0 0 7px;
                    font-family: "overpass-bold";
                }
            }
        }
    }
}

.btn-red-gr,
.btn-green-gr {
    display: inline-block;
    color: #ffffff;
    padding: 7px 10px 4px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 1;
    margin-bottom: 5px;
}

.btn-green-gr,
.bg-green-gr {
    background: #22b8a2;
    background: -moz-linear-gradient(top, #22b8a2 0%, #2fb954 100%);
    background: -webkit-linear-gradient(top, #22b8a2 0%, #2fb954 100%);
    background: linear-gradient(to bottom, #22b8a2 0%, #2fb954 100%);
}

.btn-red-gr,
.bg-red-gr {
    background: #fd6041;
    background: -moz-linear-gradient(top, #fd6041 0%, #fa3732 100%);
    background: -webkit-linear-gradient(top, #fd6041 0%, #fa3732 100%);
    background: linear-gradient(to bottom, #fd6041 0%, #fa3732 100%);
}

.rounded {
    border-radius: 20px !important;
}

.btn-xs {
    padding: 7px 10px 4px;
    line-height: 1;
}

.btn-blue {
    background: #1b90ec;
    color: #ffffff;
}

.tbl-heading {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control {
    border-radius: 0;
    background: #232635;
    color: #ffffff;
    border: 0;
    outline: 0;
    &.form-control-sm {
        padding: 0.45rem 1rem 0.25rem;
        height: 35px;
    }
}

.info-tooltip {
    color: #454758;
    font-size: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #696c7f;
    text-align: center;
    vertical-align: middle;
}

.w-auto {
    width: auto !important;
    display: inline-block;
}
.amount-detail {
  background: #1da9bd url("/assets/images/amount-invested.png") no-repeat top right;
  color: #ffffff;
  border-radius: 7px;
  padding: 15px 0;
  h2{
    font-family: "overpass-light";
    padding: 10px 15px 0;
  }
  .amount-item {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 10px 18px;
      &:after {
          content: '';
          width: 90%;
          height: 1px;
          background: #1a98ac;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
      }
      .name {
          background: #1da9bd;
          position: relative;
          z-index: 2;
          padding-right: 10px;
      }
      .amount {
          background: #1da9bd;
          z-index: 2;
          padding-left: 10px;
          position: relative;
          text-align: right;
      }
  }
}
.line-chart {
  padding: 20px 0 5px;
  border-radius: 7px;
  background: #1e1f2b;
  > div{
    height: 330px;
  }
}
