<h1 class="mt-4 text-white">My Investments</h1>

<div *ngIf="isLoading" class="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>



<!-- ============= REGION: Content Container ============= -->
<div class="row mb-5" *ngIf="!isLoading">
  <div class="col-lg-4">
    <div class="amount-detail">
      <h2 class="font-l">Summary</h2>
      <div class="amount-item">
        <div class="name">Quantity</div>
        <div class="amount">{{this.summary.Quantity}}</div>
      </div>
      <div class="amount-item">
        <div class="name">Market Value</div>
        <div class="amount">{{this.summary.MarketValue | currency}}</div>
      </div>
      <div class="amount-item">
        <div class="name">Unrealized Gains/Losses</div>
        <div class="amount">{{this.summary.UnrealizedGainsLosses | currency}}</div>
      </div>
      <div class="amount-item ">
        <div class="name">Accured Interest
        </div>
        <div class="amount">{{this.summary.AccuredInterest | currency}}</div>
      </div>
      <div class="amount-item ">
        <div class="name">Est. Annual Income
        </div>
        <div class="amount">{{this.summary.EstimatedAnnualIncome | currency}}</div>
      </div>
      <div class="amount-item ">
        <div class="name">Est. Yield

        </div>
        <div class="amount">{{this.summary.EstimatedYield | number: '1.2-2'}}%</div>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <div class="line-chart">
      <div [chart]='chart'></div>
  </div>
  </div>
</div>

<div>
  <div class="tbl-responsive">
    <div>
      <div class="heading-row mb-4 mt-4" *ngIf="!isLoading">
        <div>Date Acquired</div>
        <div>Quantity</div>
        <div>Unit Cost</div>
        <div>Market Price</div>
        <div>Market Value</div>
        <div>Unrealized Gains/Losses
        </div>
        <div>Accured Interest
        </div>
        <div>Est. Annual Income
        </div>
        <div>Est. Yield
        </div>
        <div></div>

      </div>
      <div class="scroll-content">
        <div *ngIf="!isLoading">
          <div class="data-sec" *ngFor="let i of lstInvestments">
            <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" class="detail-link">View Details</a>
            <div class="data-sec-head">
              <div>
                <span class="text-gray">Type/Region:</span> {{i.TypeAndRegion}} &nbsp; | &nbsp;
                <span *ngIf="i.StatusPendingInvested === 'Invested'" class="color-guid green">
                  <i></i>Invested
                </span>
                <span *ngIf="i.StatusPendingInvested === 'Cancelled'" class="color-guid red">
                  <i></i>Canceled
                </span>
                <span *ngIf="i.StatusPendingInvested === 'Pending'" class="color-guid amber">
                  <i></i>Pending
                </span>
              </div>
              <div>
                <span class="text-gray">FMSID:</span> {{i.FMSID}}
              </div>
            </div>
            <div class="data-sec-body">
              <!-- <div>
                                <a href="javascript:;" class="view-btn" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">
                                    <span>View</span>
                                </a>
                            </div> -->
              <div>
                {{i.DateAcquired | date: 'dd/MM/yyyy'}}
              </div>
              <div>{{i.Quantity}}</div>
              <div>{{i.UnitCost | currency}}</div>
              <div>{{i.MarketPrice | currency}}</div>
              <div>{{i.MarketPrice * i.Quantity| currency}}</div>
              <div>{{(i.MarketPrice * i.Quantity) - (i.UnitCost * i.Quantity)| currency}}</div>
              <div>{{i.AccruedInterest | currency}}</div>
              <div>{{i.AnnualIncome | currency}}</div>
              <div>{{i.EstimatedYield | number: '1.2-2'}}%</div>
              <div>
                <button [disabled]="i.StatusPendingInvested !== 'Invested'" href="javascript:;" data-toggle="modal" data-target="#sellOrderModal"
                  class="btn btn-sm btn-primary rounded gr-bdr-btn">
                  &nbsp;
                  <span>SELL</span>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="lstInvestments && lstInvestments.length > 0" class="data-sec summary-sec">
            <div class="data-sec-body">
              <div>
                Summary
              </div>
              <div>
                <b>{{this.summary.Quantity}}</b>
              </div>
              <div></div>
              <div></div>
              <div>
                <b>{{this.summary.MarketValue | currency}}</b>
              </div>
              <div>
                <b>{{this.summary.UnrealizedGainsLosses | currency}}</b>
              </div>
              <div>
                <b>{{this.summary.AccuredInterest | currency}}</b>
              </div>
              <div>
                <b>{{this.summary.EstimatedAnnualIncome | currency}}</b>
              </div>
              <div>
                <b>{{this.summary.EstimatedYield | number: '1.2-2'}}%</b>
              </div>
              <div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="buyOrderModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">INVESTED SUCCESSFULLY!</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-2 pb-3 pt-3">
        <lottie-animation-view [options]="lottieConfig" [width]="80" [height]="80">
        </lottie-animation-view>
        <h4 class="text-center text-white mt-4 mb-4">You can view your latest investment under 'My Investments'</h4>
        <div class="row justify-content-around">
          <div class="col-5 text-center">
            <a class="btn text-white bg-green-gr rounded" data-dismiss="modal" href="javascript:;">OK</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="sellOrderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="exampleModalLabel">Sell Order</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-3 pb-5 pt-5">

        <div class="row">
          <div class="col-lg-6 text-center">
            <div class="text-blue">
              <label class="mb-0">Price:</label>
            </div>
            <div class="text-gray mb-2">
              At what price do you want to sell?
            </div>
            <div>
              <input type="number" class="form-control text-center form-control-sm w-50 m-auto" value="0">
            </div>
          </div>
          <div class="col-lg-6 text-center">
            <div class="text-blue">
              <label class="mb-0">Quantity:</label>
            </div>
            <div class="text-gray mb-2">
              How many do you want to sell?
            </div>
            <div>
              <input type="number" class="form-control text-center form-control-sm w-50 m-auto" value="0">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="w-100 text-center">
          <div class="row justify-content-around">
            <div class="col-5 text-right">
              <a href="javascript:;" data-dismiss="modal" class="btn btn-outline-primary text-white">CANCEL</a>
            </div>
            <div class="col-5 text-left">
              <a href="javascript:;" data-dismiss="modal" data-toggle="modal" data-target="#serviceModal" class="btn text-white bg-green-gr">CONFIRM</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ============= REGION: Content Container ============= -->
