<div class="auth-main container-fluid">
    <ng-snotify></ng-snotify>
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="logo">
                <img src="./assets/images/logo.png" alt="logo">
            </div>
            <div class="form-content mb-2">
                <div class="mb-5">
                    <h1 class="heading with-bar mt-5">Sign In</h1>
                    <i class="subtitle">Enter information to sign in to your account.</i>
                </div>
                <div class="form">
                    <div class="control-box">
                        <div class="control">
                            <input [(ngModel)]="account.Username" type="email" placeholder="E-mail" (keydown)="returnKeyPressed($event)" class="form-control form-control-lg">
                            <i class="icon email"></i>
                        </div>

                    </div>
                    <div class="control-box">
                        <div class="control">
                            <input [(ngModel)]="account.Password" type="password" placeholder="Password" (keydown)="returnKeyPressed($event)" class="form-control form-control-lg">
                            <i class="icon confirm-password"></i>
                        </div>
                    </div>
                    <div class="control-box">
                        <div *ngIf="isLoading" class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                        </div>
                        <button *ngIf="!isLoading" [disabled]="!account.Username || !account.Password || !account.Username.includes('@') || !account.Username.includes('.')" (click)="doLogin()" class="btn btn btn-lg btn-blue text-white rounded text-uppercase">Login</button>
                    </div>
                </div>
            </div>
            <div class="text-center text-white font-22 pt-5 pb-5">
                Don’t have an account? <a routerLink="/signup" class="text-blue w-75">Sign Up</a>
            </div>
        </div>
        <div class="col-md-6 col-xl-8">
            <img src="./assets/images/Login-signup/building-login.png" alt="">
        </div>
    </div>
</div>