.auth-main{
  background: #1e1f2b;
  min-height: 100% ;
}
.logo{
  padding:20px 0  0 70px;

}
@media screen and (max-width:550px){
  .logo{
  width: 100%;
  padding:50px 15px 0;
}
}
.btn-blue{
  min-width: 130px;
  padding: 0.7rem 1rem 0.5rem;
}
