// :host-context(body) {
// }
.color-guid {
    display: inline-block;
    i {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 20px;
        margin-right: 3px;
    }
    &.red i {
        background: #B6120D;
    }
    &.green i {
        background: #52b974;
    }
    &.amber i {
        background: #F9A70B;
    }
}

.heading-row {
    display: flex;
    align-items: center;
    >div {
        flex: 1;
        color: #b6bacd;
        font-size: 14px;
        text-align: center;
        white-space: nowrap;
    }
}

.data-sec {
    margin-bottom: 13px;
    position: relative;
    .data-sec-head {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        color: #ffffff;
        background: #2f3243;
        font-size: 14px;
        border-radius: 5px 5px 0 0;
        span.text-gray {
            color: #7c7f8f;
        }
    }
    .data-sec-body {
        background: #2d2f3c;
        display: flex;
        align-items: center;
        border-radius: 0 0 7px 7px;
        padding: 10px 0;
        >div {
            flex: 1;
            text-align: center;
            color: #ffffff;
            position: relative;
            &:last-child {
                .btn {
                    min-width: 80px;
                }
            }
            .amount-progress {
                position: relative;
                background: #242535;
                height: 10px;
                border-radius: 0.3rem;
                width: 60%;
                margin: 0 auto;
                top: 8px;
                >div {
                    position: absolute;
                    display: block;
                    height: 100%;
                    background: -webkit-gradient(linear, left top, right top, from(#a529b7), color-stop(23%, #b431a6), color-stop(80%, #e34972), color-stop(99%, #ef4f65), to(rgba(240, 79, 100, 0.98)));
                    background: linear-gradient(to right, #a529b7 0%, #b431a6 23%, #e34972 80%, #ef4f65 99%, rgba(240, 79, 100, 0.98) 100%);
                    left: 0;
                    width: 50%;
                    max-width: 99% !important;
                    transition: all .2s;
                    border-radius: 0.3rem;
                }
            }
            .view-btn {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 22px;
                height: 50px;
                background: #252738;
                color: #1b90ec;
                border-radius: 0 5px 5px 0;
                display: block;
                -webkit-text-emphasis: center;
                text-emphasis: center;
                margin: auto;
                text-decoration: none;
                padding: 4px 2px 0 0;
                span {
                    transform: rotate(90deg);
                    display: block;
                }
            }
        }
    }
    >a.detail-link {
        position: absolute;
        width: 100px;
        height: 20px;
        ;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        color: #ffffff;
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        display: none;
    }
    * {
        transition: all .2s;
    }
}

.btn-red-gr,
.btn-green-gr {
    display: inline-block;
    color: #ffffff;
    padding: 7px 10px 4px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 1;
    margin-bottom: 5px;
}

.btn-green-gr,
.bg-green-gr {
    background: #22b8a2;
    background: -moz-linear-gradient(top, #22b8a2 0%, #2fb954 100%);
    background: -webkit-linear-gradient(top, #22b8a2 0%, #2fb954 100%);
    background: linear-gradient(to bottom, #22b8a2 0%, #2fb954 100%);
}

.btn-red-gr,
.bg-red-gr {
    background: #fd6041;
    background: -moz-linear-gradient(top, #fd6041 0%, #fa3732 100%);
    background: -webkit-linear-gradient(top, #fd6041 0%, #fa3732 100%);
    background: linear-gradient(to bottom, #fd6041 0%, #fa3732 100%);
}

.rounded {
    border-radius: 20px !important;
}

.btn-xs {
    padding: 7px 10px 4px;
    line-height: 1;
}

.btn-blue {
    background: #1b90ec;
    color: #ffffff;
}

.gr-bdr-btn {
    background: -moz-linear-gradient(left, rgba(165, 41, 183, 1) 0%, rgba(180, 49, 166, 1) 23%, rgba(227, 73, 114, 1) 80%, rgba(239, 79, 101, 1) 99%, rgba(240, 79, 100, 0.98) 100%);
    background: -webkit-linear-gradient(left, rgba(165, 41, 183, 1) 0%, rgba(180, 49, 166, 1) 23%, rgba(227, 73, 114, 1) 80%, rgba(239, 79, 101, 1) 99%, rgba(240, 79, 100, 0.98) 100%);
    background: linear-gradient(to right, rgba(165, 41, 183, 1) 0%, rgba(180, 49, 166, 1) 23%, rgba(227, 73, 114, 1) 80%, rgba(239, 79, 101, 1) 99%, rgba(240, 79, 100, 0.98) 100%);
    border: 0;
}

.timer {
    >span {
        display: inline-block;
    }
    .time {
        background: #2ead60;
        background: -moz-linear-gradient(top, #2ead60 0%, #7db9e8 100%);
        background: -webkit-linear-gradient(bottom, #2ead60 0%, #7db9e8 100%);
        background: linear-gradient(to top, #2ead60 0%, #7db9e8 100%);
        border-radius: 3px;
        line-height: 1;
        padding: 0 3px;
        >span {
            display: inline-block;
            width: 36px;
            height: 40px;
            line-height: 1;
            padding-top: 9px;
            position: relative;
            color: #282933;
            font-weight: 600;
            @media screen and (max-width: 1700px) {
                font-size: 12px;
                width: 26px;
                height: 35px;
            }
            &:not(:last-child):after {
                content: ':';
                position: absolute;
                right: -3px;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 12px;
            }
        }
    }
    .days {
        border-radius: 3px;
        border: 1px solid #28b87e;
        width: 36px;
        height: 40px;
        line-height: 1;
        padding-top: 9px;
        color: #2db961;
        vertical-align: top;
        @media screen and (max-width: 1700px) {
            font-size: 12px;
            width: 26px;
            height: 35px;
        }
    }
}

.tbl-heading {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control {
    border-radius: 0;
    background: #232635;
    color: #ffffff;
    border: 0;
    outline: 0;
    &.form-control-sm {
        padding: 0.45rem 1rem 0.25rem;
        height: 35px;
    }
}

.info-tooltip {
    color: #454758;
    font-size: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #696c7f;
    text-align: center;
}

.w-auto {
    width: auto !important;
    display: inline-block;
}

.form-control.bg-light {
    background-color: #282b3a !important;
}

.amount-detail {
    background: #232635;
    color: #ffffff;
    border-radius: 7px;
    padding-top: 15px;
    .amount-item {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 10px 18px;
        &:after {
            content: '';
            width: 90%;
            height: 1px;
            background: #1c1e2b;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .name {
            background: #232635;
            position: relative;
            z-index: 2;
            padding-right: 10px;
        }
        .amount {
            background: #232635;
            z-index: 2;
            padding-left: 10px;
            position: relative;
            text-align: right;
        }
        &.last {
            background: #1b90ec;
            border-radius: 0 0 7px 7px;
            .name,
            .amount {
                background: none;
            }
            &:after {
                content: '';
                width: 0;
            }
        }
    }
}

.quick-link-box {
    background: #3c3e4f;
    padding: 10px 15px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    ul {
        margin-bottom: 0;
        li {
            padding: 3px 20px;
            margin: 0;
            &:not(:last-child) {
                border-right: 1px solid #1c1d2a;
            }
            a {
                color: #abacb5;
            }
        }
    }
}

.no-resize {
    resize: none;
}

.border-0 {
    border: 0;
}

.bg-aaa {
    background: #ffae00;
}

.bg-aa {
    background: #ff7e00;
}

.bg-a {
    background: #ff5400;
}

.bg-bbb {
    background: #ff009c;
}

.bg-bb {
    background: #ff00ea;
}

.bg-b {
    background: #d200ff;
}

.bg-c {
    background: #4babb1;
}