<h1 class="mt-4 text-white">Viva Mortgage Platform</h1>

<div *ngIf="isLoading" class="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
  </svg>
</div>

<!-- ============= REGION: Content Container ============= -->
<div>

  <!-- ============= REGION: Table ============= -->
  <div class="tbl-responsive-big">
    <div>
      <div class="heading-row mb-4 mt-4">
        <div class="sorting" (click)="sorting(0)" [class.sorted]="toggleCheck[0]">
          <span>Rating</span>
        </div>
        <div class="sorting" (click)="sorting(1)" [class.sorted]="toggleCheck[1]">
          <span>Term</span>
        </div>
        <div class="sorting" (click)="sorting(2)" [class.sorted]="toggleCheck[2]">
          <span>Currency</span>
        </div>
        <div class="sorting" (click)="sorting(3)" [class.sorted]="toggleCheck[3]">
          <span>Loan Amount</span>
        </div>
        <div class="sorting" (click)="sorting(4)" [class.sorted]="toggleCheck[4]">
          <span>Amount Available</span>
        </div>
        <div class="sorting" (click)="sorting(5)" [class.sorted]="toggleCheck[5]">
          <span>Coupon</span>
        </div>
        <div class="sorting" (click)="sorting(6)" [class.sorted]="toggleCheck[6]">
          <span>Time Remaining</span>
        </div>
        <div>
          <div class="dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle btn rounded btn-outline-light">
              Filter
            </a>
            <div class="dropdown-menu filter-menu dropdown-menu-right mt-2 text-uppercase">
              <a href="javascript:;" class="dropdown-item active">Panama-21</a>
              <a href="javascript:;" class="dropdown-item">Costa Rica-04</a>
              <a href="javascript:;" class="dropdown-item">Barmuda-07 </a>
              <a href="javascript:;" class="dropdown-item">Cayman-06</a>
              <a href="javascript:;" class="dropdown-item">Argentina-02</a>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-content">
        <div *ngIf="!isLoading">
          <div *ngFor="let m of lstMortgages" class="data-sec">
            <a href="javascript:;" class="detail-link">View Details</a>
            <div class="data-sec-head">
              <div>
                <span class="text-gray">Type/Region:</span> {{m.Type}}/{{m.Region}}
              </div>
              <div>
                <span class="text-gray">FMSID:</span> {{m.FMSID}}
              </div>
            </div>
            <div class="data-sec-body">
              <div>
                <a href="javascript:;" class="view-btn">
                  <span>View</span>
                </a>
                <span class="btn btn-xs btn-primary rounded border-0 bg-aaa">{{m.Rating}}</span>
              </div>
              <div>{{m.Maturity}}
                <span *ngIf="m.Maturity > 1">years</span>
                <span *ngIf="m.Maturity <= 1">year</span>
              </div>
              <div>USD</div>
              <div>{{m.TotalAmount | currency}} </div>
              <div>{{m.AvailableAmount | currency}}
                <div class="amount-progress">
                  <div></div>
                </div>
              </div>
              <div>{{m.Coupon | number: '1.2-2'}}%</div>
              <div>
                <div class="timer">
                  <span class="days">
                    <!-- <span style='display: block;font-size: 12px;'>Days</span> -->
                  </span>
                  <span class="time">
                    <span class="hours">
                      <!-- <span style='display: block;font-size: 12px;'>Hours</span> -->
                    </span>
                    <span class="mins">
                      <!-- <span style='display: block;font-size: 12px;'>Mins</span> -->
                    </span>
                    <span class="secs">
                      <!-- <span style='display: block;font-size: 12px;'>Secs</span> -->
                    </span>
                  </span>
                </div>
              </div>
              <div>
                <button (click)="openInvestmentDetailsDialog(m)" data-toggle="modal" data-target="#fmsOrderModal" class="btn btn-xs btn-primary rounded gr-bdr-btn">
                  INVEST
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============= REGION: Table ============= -->

  <!-- ============= REGION: Pop-Up ============= -->
  <div class="modal fade bd-example-modal-lg" id="fmsOrderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">FMS Order</h1>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row justify-content-space-between bg-dark mb-5 align-items-center">
            <div class="col-auto mr-auto text-white p-3">
              <select class="form-control form-control-sm">
                <option>{{USER_INFO.UserInfo.Name}}</option>
              </select>
            </div>
            <div class="col-auto text-white p-3">
              <span class="text-gray">Available Cash:</span> {{selectedMortgage.UserCashBalance | currency}}
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-lg-5 pr-5">
              <div class="mb-4">
                <label class="text-blue">
                  Order Type
                  <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                </label>
                <div>
                  <span class="form-control form-control-sm bg-light w-auto">Buy Order</span>
                </div>
              </div>
              <div class="mb-4">
                <label class="text-blue">
                  FMSID:
                  <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                </label>
                <div>
                  <span class="form-control form-control-sm bg-light w-auto">{{selectedMortgage.FMSID}}</span>
                </div>
              </div>
              <div class="mb-4">
                <label class="text-blue">
                  Issuer:
                  <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                </label>
                <div>
                  <span class="form-control form-control-sm bg-light w-auto">VIVA NETWORK HOLDINGS LIMITED</span>
                </div>
              </div>
              <div class="mb-4">
                <label class="text-blue">
                  Quantity:
                  <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                </label>
                <div>
                  <span class="text-gray">Maximum available at this price:
                    <span class="text-green"> {{selectedMortgage.AvailableAmount / 100}}</span>
                  </span>
                </div>
                <div class="err-msg-height mt-1">
                  <span class="text-danger" *ngIf="selectedQuantity > (selectedMortgage.AvailableAmount / 100) && selectedMortgage.UserCashBalance > (selectedQuantity * 100)">Quantity should not exceed maximum available limit</span>
                  <span class="text-danger" *ngIf="selectedMortgage.UserCashBalance < (selectedQuantity * 100)">Insufficient Cash Balance</span>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input (keyup)="checkInputForFloatingNumbers()" [(ngModel)]="selectedQuantity" type="number" class="form-control form-control-sm"
                      value="0" />
                    <div class="mt-4">
                      <label class="text-blue">
                        Execution Type:
                      </label>
                      <div>
                        <span class="form-control form-control-sm bg-light w-auto">Fill or Kill</span>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-4">
                    <div data-toggle="modal" data-target="#serviceModal" data-dismiss="modal" class="text-center link-box">
                      <div class="link-box-img">
                        <img src="./assets/images/calc.png" alt="">
                      </div>
                      <div class="link-box-body">
                        Yield Calculator
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <!-- <div class="text-center link-box">
                        <div class="link-box-img">
                        <img src="./assets/images/book.png" alt="">
                        </div>
                        <div class="link-box-body">
                        Order
                        <br> Book
                        </div>
                    </div> -->
                  </div>
                </div>
                <div class="amount-detail mt-4">
                  <div class="amount-item">
                    <div class="name">Price</div>
                    <div class="amount">$100.00</div>
                  </div>
                  <div class="amount-item">
                    <div class="name">Yield</div>
                    <div class="amount">{{selectedMortgage.Coupon | number: '1.2-2'}}%</div>
                  </div>
                  <div class="amount-item last">
                    <div class="name">Total</div>
                    <div *ngIf="!selectedQuantity || selectedQuantity <= 0" class="amount">$0.00</div>
                    <div *ngIf="selectedQuantity && selectedQuantity > 0" class="amount">{{100 * selectedQuantity | currency}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="text-blue p-3 text-left btn-block bg-darker btn tbl-heading">Recent Trade Activity
                <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
              </div>
              <table class="table text-center">
                <thead>
                  <tr>
                    <th>
                      Trade Time
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th>
                      Price
                    </th>
                    <th>
                      Yield
                    </th>
                    <th>
                      Type
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      N/A
                    </td>
                    <td>
                      N/A
                    </td>
                    <td>
                      N/A
                    </td>
                    <td>
                      N/A
                    </td>
                    <td>
                      N/A
                    </td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      &nbsp;
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                  </tr>

                </tbody>
              </table>
              <div>
                <div class="text-blue p-3 text-left btn-block bg-darker btn tbl-heading">Bond Details
                  <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                </div>
                <div class="bg-dark p-3 pb-5">
                  <div class="row">
                    <div class="col-md-6 p-0">
                      <div class="amount-detail mt-4 bg-none">
                        <div class="amount-item">
                          <div class="name bg-dark">Coupon</div>
                          <div class="amount bg-dark">{{selectedMortgage.Coupon | number: '1.2-2'}}%</div>
                        </div>
                        <div class="amount-item">
                          <div class="name bg-dark">Term</div>
                          <div class="amount bg-dark">{{selectedMortgage.Maturity}}
                            <span *ngIf="selectedMortgage.Maturity > 1">Years</span>
                            <span *ngIf="selectedMortgage.Maturity <= 1">Year</span>
                          </div>
                        </div>
                        <div class="amount-item">
                          <div class="name bg-dark">Yield to Maturity</div>
                          <div class="amount bg-dark">{{selectedMortgage.Coupon | number: '1.2-2'}}%</div>
                        </div>
                        <div class="amount-item ">
                          <div class="name bg-dark">WAL/YTW</div>
                          <div class="amount bg-dark">
                            <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">VIEW</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="amount-detail mt-4">
                        <div class="amount-item">
                          <div class="name">Investment Rating</div>
                          <div class="amount">{{selectedMortgage.Rating}}</div>
                        </div>
                        <div class="amount-item">
                          <div class="name">Region</div>
                          <div class="amount">{{selectedMortgage.Region}}</div>
                        </div>
                        <div class="amount-item">
                          <div class="name">Frequency</div>
                          <div class="amount">Monthly</div>
                        </div>
                        <div class="amount-item ">
                          <div class="name">Collateralized</div>
                          <div class="amount">95%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="quick-link-box">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">Risk Report </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">Disclosure Info</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">Disclosure Info</a>
                    </li>
                    <li class="list-inline-item">
                      <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">View Contracts</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="w-100">
            <div class="row justify-content-space-between align-items-center">
              <div class="col-auto text-white mr-auto">
                Please review details before placing your order.
              </div>
              <div class="col-auto">
                <button *ngIf="!isPurchaseLoading" (click)="confirmInvestmentPurchase()" [disabled]="!selectedQuantity || selectedQuantity <= 0 || selectedQuantity > (selectedMortgage.AvailableAmount / 100) || selectedMortgage.UserCashBalance < (selectedQuantity * 100)"
                  class="btn bg-green-gr text-uppercase text-white">Confirm</button>
                <div *ngIf="isPurchaseLoading" class="loader mini">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============= REGION: Pop-Up ============= -->

</div>
<!-- ============= REGION: Content Container ============= -->
