<div class="dashboard">
    <h1 class="mt-4 text-white">Dashboard</h1>
    <div *ngIf="isLoading" class="loader">
        <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
    </div>
    <div *ngIf="!isLoading">
        <!-- <div class="graph-filter">
            <ul>
                <li class="green">
                    <a>MBS Benchmark Yields
            <span></span>
            </a>
                </li>
                <li class="orange">
                    <a>VIVA Portfolio Yield
            <span></span>
            </a>
                </li>
            </ul>
        </div> -->
        <div class="row">
            <div class="col-xl-7">
                <div class="line-chart">
                    <div [chart]='chart'></div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="net-assets">
                    <div>
                        <div class="net-assets-img">
                            <img src="./assets/images/net-assets.png" alt="">
                        </div>
                        <h2>Net Assets </h2>
                        <h1> {{DashboardData.AmountInvested + DashboardData.CashBalance + (DashboardData.VIVABalance / 5) | currency}} </h1>
                    </div>
                </div>
                <div class="portfolio-item dark-bg item-2">
                    <div>
                        <div class="item-img">
                            <img src="./assets/images/portfolio-2.png" alt="">
                        </div>
                        <div class="item-heading">{{DashboardData.AmountInvested | currency}}</div>
                        <div class="item-small-text">
                            <span>Amount invested</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4 justify-content-center">
            <div class="col-xl col-md-6">
                <div class="portfolio-item dark-bg item-1">
                    <div>
                        <div class="item-img">
                            <img src="./assets/images/portfolio-1.png" alt="">
                        </div>
                        <div class="item-heading">{{DashboardData.CashBalance | currency}}</div>
                        <div class="item-small-text">
                            <span>Cash balance</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl col-md-6">
                <div class="portfolio-item dark-bg item-3">
                    <div>
                        <div class="item-heading">{{DashboardData.TotalNumberOfInvestments}}</div>
                        <div class="item-small-text">
                            <span>Total Number</span>
                            <span>of investments</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="portfolio-item dark-bg item-4">
                    <div>
                        <div class="item-img">
                            <img src="./assets/images/portfolio-4.png" alt="">
                        </div>
                        <div class="item-heading">{{DashboardData.TotalYield | number: '1.2-2'}}%</div>
                        <div class="item-small-text">
                            <span>Total yields of portfolio</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="portfolio-item dark-bg item-5">
                    <div>
                        <div class="item-img">
                            <img src="./assets/images/portfolio-5.png" alt="">
                        </div>
                        <div class="item-heading">{{DashboardData.EstimatedAnnualIncome | currency}}</div>
                        <div class="item-small-text">
                            <span>Est. annual income
              </span>
                            <span>
                from investments
              </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl col-md-6">
                <div class="portfolio-item dark-bg item-6">
                    <div>
                        <div class="item-img">
                            <img src="./assets/images/portfolio-6.png" alt="">
                        </div>
                        <div class="item-heading">{{DashboardData.VIVABalance}} VIVA</div>
                        <div class="blue-heading">({{DashboardData.VIVABalance / 5 | currency}} USD)</div>
                        <div class="item-small-text">
                            <span>VIVA Balance</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h1 class="heading with-bar mt-5">Asset Allocation</h1>
            <i class="subtitle">Asset allocation by global location.</i>
        </div>
        <div class="row mt-5">
            <div class="col-lg-7">
                <div class="heat-chart">
                    <div class="">
                        <google-chart [data]='geoChartData' height="340" style="height:340px;"></google-chart>
                        <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <pattern id="defaultFill" patternUnits="userSpaceOnUse" x="0" y="0" width="6" height="6">
                  <image xlink:href="/assets/images/h1.png" width="6" height="6">
                  </image>
                </pattern>
              </defs>
            </svg>
                        <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <pattern id="color1" patternUnits="userSpaceOnUse" x="0" y="0" width="6" height="6">
                  <image xlink:href="/assets/images/h2-1.png" width="6" height="6">
                  </image>
                </pattern>
              </defs>
            </svg>
                        <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <pattern id="color2" patternUnits="userSpaceOnUse"  x="0" y="0" width="6" height="6">
                  <image xlink:href="/assets/images/h3-1.png" width="6" height="6">
                  </image>
                </pattern>
              </defs>
            </svg>
                        <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <pattern id="color3" patternUnits="userSpaceOnUse"  x="0" y="0" width="6" height="6">
                  <image xlink:href="/assets/images/h4-1.png"  width="6" height="6">
                  </image>
                </pattern>
              </defs>
            </svg>
                        <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
              <defs>
                <pattern id="color4" patternUnits="userSpaceOnUse" x="0" y="0" width="6" height="6">
                  <image xlink:href="/assets/images/h5-1.png" width="6" height="6">
                  </image>
                </pattern>
              </defs>
            </svg>
                    </div>

                    <!-- <img src="./assets/images/heat-map.png" class="img-fluid" alt=""> -->
                </div>
                <div class="chart-guid mb-5">
                    <ul>
                        <li class="guid-item item-4">
                            <i></i>0-25%</li>
                        <li class="guid-item item-3">
                            <i></i>26-50%</li>
                        <li class="guid-item item-2">
                            <i></i>51-75%</li>
                        <li class="guid-item item-1">
                            <i></i>>75%</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="chart-guid donut-chart-guid">
                    <ul>
                        <li *ngFor="let r of regionData; let i = index" class="guid-item">
                            <i [ngStyle]="{'background-color': colors[i]}"></i>{{r.Continent}}
                        </li>
                    </ul>
                </div>
                <div [chart]='pieChart'></div>
            </div>
        </div>
        <!-- <div>
      <h1 class="heading with-bar mt-5">Portfolio</h1>
      <i class="subtitle">Summary or overview of your current assets.</i>
    </div> -->

    </div>
</div>