.dashboard {
    .graph-filter {
        text-align: right;
        padding: 10px;
        background: #2b2d3c;
        margin-bottom: 20px;
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline-block;
                margin: 0 17px;
                a {
                    font-size: 12px;
                    text-decoration: none;
                    display: inline-block;
                    color: #b6bacd;
                    span {
                        display: block;
                        height: 7px;
                        width: 30px;
                        background: red;
                        margin: auto;
                        border-radius: 25px;
                        margin-top: 5px;
                    }
                }
                &.green a span {
                    background: #2bb96f;
                }
                &.pink a span {
                    background: #e44971;
                }
                &.orange a span {
                    background: #fd6643;
                }
                &.active a {
                    color: #ffffff;
                }
            }
        }
    }
}

.line-chart {
    padding: 20px 0;
    border-radius: 7px;
    background: #1e1f2b ;
}

.heat-chart {
    background: #1e1f2b;
    padding: 30px 0;
    border-radius: 7px;
    text-align: center;
    box-shadow: 6.561px 7.547px 9.92px 6.08px rgba(0, 0, 0, 0.07);
    img {
        margin: auto;
    }
}

.chart-guid {
    background: #1e1f2b;
    padding: 20px 0;
    border-radius: 7px;
    text-align: center;
    margin-top: 20px;
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin: 0 12px;
            color: #ffffff;
            font-size: 15px;
            font-weight: 500;
            @media screen and (max-width: 1120px) {
                margin: 0 7px;
                font-size: 14px;
            }
            i {
                display: inline-block;
                width: 37px;
                height: 18px;
                border-radius: 20px;
                margin-right: 5px;
                position: relative;
                top: 2px;
                @media screen and (max-width: 1120px) {
                    width: 25px;
                    height: 12px;
                }
            }
            &.item-1 i {
                background: #ed4e3f;
            }
            &.item-2 i {
                background: #ee5119;
            }
            &.item-3 i {
                background: #f56d3d;
            }
            &.item-4 i {
                background: #f5c83d;
            }
        }
    }
    &.donut-chart-guid {
        margin-top: 0;
        margin-bottom: 20px;
        ul li {
            i {
                width: 15px;
                height: 15px;
            }
            &.item-1 i {
                background: #e11b49;
            }
            &.item-2 i {
                background: #52b974;
            }
            &.item-3 i {
                background: #ed6b38;
            }
            &.item-4 i {
                background: #c33980;
            }
        }
        &+div {
            box-shadow: 6.561px 7.547px 9.92px 6.08px rgba(0, 0, 0, 0.07);
        }
    }
}

.portfolio-item {
    padding: 0 30px;
    border-radius: 7px;
    color: #b6bacd;
    display: table;
    width: 100%;
    min-height: 160px;
    @media screen and (max-width: 1700px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 1200px) {
        margin-bottom: 30px;
    }
    &.item-1 {
        background: #1e1f2b url("/assets/images/cash-balance.png") no-repeat top right;
        margin-bottom: 30px;
    }
    &.item-2 {
        background: #1da9bd url("/assets/images/amount-invested.png") no-repeat top right;
        color: #ffffff;
        margin-bottom: 30px;
    }
    &.item-3 {
        background: url("/assets/images/portfolio-3.png") no-repeat 90% center;
        border: 1px solid #000000;
        margin-bottom: 30px;
    }
    &.item-4,
    &.item-5,
    &.item-6 {
        border: 1px solid #000000;
    }
    &.item-4 {
        background: url("/assets/images/total-yield-of-portfolio.png") no-repeat top right;
    }
    &.item-5 {
        background: url("/assets/images/Est-annual-income.png") no-repeat bottom right;
    }
    &.item-6 {
        background: url("/assets/images/viva-balance.png") no-repeat top right;
    }
    >div {
        display: table-cell;
        vertical-align: middle;
    }
    div.item-img {
        margin-bottom: 7px;
    }
    div.item-heading {
        font-size: 32px;
        font-weight: 200;
        font-family: "overpass-extra-light";
        white-space: -moz-pre-wrap !important;
        /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap;
        /*Chrome & Safari */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        white-space: pre-wrap;
        /* css-3 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
        @media screen and (max-width: 1700px) {
            font-size: 20px;
        }
        @media screen and (max-width:1200px) {
            font-size: 24px;
        }
    }
    div.blue-heading {
        font-size: 20px;
        font-family: "overpass-extra-light";
        color: #1b90ec;
    }
    .item-small-text {
        font-size: 16px;
        span {
            display: block;
        }
    }
}

.net-assets {
    text-align: center;
    height: 58%;
    vertical-align: middle;
    align-self: center;
    display: table;
    width: 100%;
    border-left: 3px solid #1b90ed;
    background: #232431 url("/assets/images/net-assets-bg.png") no-repeat center center;
    background-size: 100%;
    margin-bottom:23px;
    @media screen and (max-width: 1200px) {
        padding: 30px 0;
    }
    >div {
        vertical-align: middle;
        display: table-cell;
    }
    div.net-assets-img {
        position: relative;
        padding-bottom: 10px;
        margin-bottom: 10px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            width: 30px;
            margin: auto;
            background: #171721;
        }
    }
    h2 {
        color: #1b90ed;
    }
    h1 {
        font-size: 41px;
        color: #b6bacd;
        font-family: "overpass-extra-light";
        @media screen and (max-width: 1400px) {
            font-size: 30px;
        }
    }
}
