@import url("../auth.component.scss");
.form-content {
    width: 400px;
    max-width: 100%;
    padding-left: 70px;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 550px) {
        width: 100%;
        padding: 50px 15px 0;
    }
    .form {
        .control-box {
            position: relative;
            margin-bottom: 30px;
            .control {
                position: relative;
                input {
                    background: #232635;
                    outline: none;
                    box-shadow: none;
                    border-color: #3a3d4f;
                    font-size: 16px;
                    padding-right: 45px;
                    color: #ffffff;
                    &:focus {
                        border-color: #1c69a6;
                        &+i.icon {
                            opacity: 1;
                        }
                    }
                }
                i.icon {
                    position: absolute;
                    display: block;
                    width: 25px;
                    height: 26px;
                    background: url("/assets/images/auth-icons.png") no-repeat;
                    right: 15px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    opacity: 0.4;
                    transition: all .2s;
                    &.email {
                        background-position: left top;
                    }
                    &.username {
                        background-position: right top;
                    }
                    &.password {
                        background-position: left bottom;
                        cursor: pointer;
                    }
                    &.confirm-password {
                        background-position: right bottom;
                    }
                }
                .password-lenght {
                    position: absolute;
                    display: block;
                    width: 0;
                    height: 3px;
                    background: rgb(246, 58, 83);
                    background: -moz-linear-gradient(left, rgba(246, 58, 83, 1) 0%, rgba(239, 80, 68, 1) 24%, rgba(229, 92, 64, 1) 35%, rgba(216, 102, 64, 1) 45%, rgba(183, 120, 70, 1) 63%, rgba(91, 164, 94, 1) 100%);
                    background: -webkit-linear-gradient(left, rgba(246, 58, 83, 1) 0%, rgba(239, 80, 68, 1) 24%, rgba(229, 92, 64, 1) 35%, rgba(216, 102, 64, 1) 45%, rgba(183, 120, 70, 1) 63%, rgba(91, 164, 94, 1) 100%);
                    background: linear-gradient(to right, rgba(246, 58, 83, 1) 0%, rgba(239, 80, 68, 1) 24%, rgba(229, 92, 64, 1) 35%, rgba(216, 102, 64, 1) 45%, rgba(183, 120, 70, 1) 63%, rgba(91, 164, 94, 1) 100%);
                    left: 2px;
                    bottom: 1px;
                    max-width: 99% !important;
                    transition: all .2s;
                    border-bottom-left-radius: 0.3rem;
                }
            }
            i.control-message {
                font-size: 12px;
                color: #5c5f70;
            }
        }
    }
}

.auth-main {
    .col-xl-8 {
        // min-height: 980px;
        background: #1f212e url("/assets/images/Login-signup/lines-signup.png") no-repeat center center;
        position: relative;
        img {
            position: absolute;
            right: 50px;
            top: 0;
            bottom: 0;
            margin: auto;
            max-width: 105%;
        }
        @media screen and (max-width:768px) {
            display: none;
        }
    }
}