<div class="auth-main container-fluid">
    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="logo">
                <img src="./assets/images/logo.png" alt="logo">
            </div>
            <div class="form-content mb-2">
                <div class="mb-5">
                    <h1 class="heading with-bar mt-5">Sign Up</h1>
                    <i class="subtitle">Enter information to register new account.</i>
                </div>
                <div class="form">
                    <div class="control-box">
                        <div class="control">
                            <input (keydown)="returnKeyPressed($event)" [(ngModel)]="account.FullName" type="text" placeholder="Full Name" class="form-control form-control-lg">
                            <i class="icon username"></i>
                        </div>
                    </div>
                    <div class="control-box">
                        <div class="control">
                            <input (keydown)="returnKeyPressed($event)" [(ngModel)]="account.Email" (keyup)="emailExists()" type="email" placeholder="Email" class="form-control form-control-lg">
                            <i class="icon email"></i>
                        </div>
                        <i *ngIf="emailAlreadyExists" class="control-message text-danger">E-mail Already Exists</i>
                    </div>
                    <div class="control-box">
                        <div class="control">
                            <input (keydown)="returnKeyPressed($event)" [(ngModel)]="account.Password" type="password" placeholder="Password" class="form-control form-control-lg password-input">
                            <i class="icon confirm-password"></i>
                            <div class="password-lenght"></div>
                        </div>

                        <!-- <i class="control-message">Password must contain one uppercase, one special, and a minimum length of six characters.</i> -->
                    </div>
                    <div class="control-box">
                        <div class="control">
                            <input (keydown)="returnKeyPressed($event)" [(ngModel)]="account.ConfirmPassword" type="password" placeholder="Confirm Password" class="form-control form-control-lg">
                            <i class="icon confirm-password"></i>
                        </div>
                        <div *ngIf="account.ConfirmPassword.length > 0">
                            <i *ngIf="account.ConfirmPassword !== account.Password " class="control-message text-danger">Passwords do not match</i>
                        </div>
                    </div>
                    <div class="control-box">
                        <div *ngIf="isLoading" class="loader">
                            <svg class="circular" viewBox="25 25 50 50">
                                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                </svg>
                        </div>
                        <button *ngIf="!isLoading" [disabled]="!account.Email || !account.FullName || !account.Password || !account.ConfirmPassword || account.Password !== account.ConfirmPassword || emailAlreadyExists || !account.Email.includes('@') || !account.Email.includes('.')"
                            (click)="registerNewUser()" href="javascript:;" class="btn btn btn-lg btn-blue text-white rounded text-uppercase">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="text-center text-white font-22 pt-5 pb-4">
                Already have an account? <a routerLink="/login" class="text-blue w-75">Sign In</a>
            </div>
        </div>
        <div class="col-md-6 col-xl-8">
            <img src="./assets/images/Login-signup/screens-signup.png" alt="">
        </div>
    </div>
</div>