<h1 class="mt-4 text-white">FMS Exchange</h1>

<div *ngIf="isLoading" class="loader">
    <svg class="circular" viewBox="25 25 50 50">
          <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
</div>

<!-- ============= REGION: Content Container ============= -->
<div>
    <div class="color-guid text-right" *ngIf="!isLoading">
        <ul>
            <li class="item-1">
                <i></i>Bids</li>
            <li class="item-2">
                <i></i>Offers</li>
        </ul>

    </div>
    <!-- ============= REGION: Table ============= -->
    <div class="tbl-responsive">
        <div>
            <div class="heading-row mb-4 mt-4" *ngIf="!isLoading">
                <div><span>Quantity</span></div>
                <div class="sorting" (click)="sorting(1, 'Rating')" [class.sorted]="toggleCheck[1]"><span>Rating</span></div>
                <div class="sorting" (click)="sorting(2, 'Maturity')" [class.sorted]="toggleCheck[2]"><span>Maturity Date</span></div>
                <div><span>Region </span></div>
                <div class="sorting" (click)="sorting(4, 'Coupon')" [class.sorted]="toggleCheck[4]"><span>Coupon</span></div>
                <div><span>Order Book</span></div>
                <div><span>Bid/Offer</span></div>
                <div><span>Yield (%)</span></div>
                <div>
                    <div class="dropdown">
                        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle btn rounded btn-outline-light">
                            <span *ngIf="!selectedRegion">Filter</span>
                            <span *ngIf="selectedRegion">{{selectedRegion}}</span>
                        </a>
                        <div class="dropdown-menu filter-menu dropdown-menu-right mt-2 text-uppercase">
                            <a (click)="applyFilter(r)" *ngFor="let r of lstRegionsFilter" href="javascript:;" class="dropdown-item">{{r}}</a>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a class="text-gray" *ngIf="selectedRegion" href="javascript:;" (click)="clearFilter()">Clear Filter</a>
                    </div>
                </div>
            </div>
            <div class="scroll-content">
                <div *ngIf="!isLoading">


                    <div class="data-sec" *ngFor="let m of lstMortgages">
                        <div class="data-sec-head">
                            <div>
                                <span class="text-gray">Type/Region:</span> {{m.Result.Type}}/{{m.Result.Region}}
                            </div>
                            <div>
                                <span class="text-gray">FMSID:</span> {{m.Result.FMSID}}
                            </div>
                        </div>
                        <div class="data-sec-body">
                            <div>
                                <a data-toggle="modal" href="javascript:;" data-target="#serviceModal" class="view-btn">
                                    <span>View</span>
                                </a>
                                <span *ngIf="m.Buy.length > 0" class="btn-green-gr font-14">{{m.Buy[0].Quantity}}</span>
                                <br>
                                <span *ngIf="m.Sell.length > 0" class="btn-red-gr font-14">{{m.Sell[0].Quantity}}</span>
                            </div>
                            <div>
                                <span *ngIf="m.Result.CreditRating === 'AAA'" class="btn btn-xs btn-primary rounded border-0 bg-aaa">AAA</span>
                                <span *ngIf="m.Result.CreditRating === 'AA'" class="btn btn-xs btn-primary rounded border-0 bg-aa">AA</span>
                                <span *ngIf="m.Result.CreditRating === 'A'" class="btn btn-xs btn-primary rounded border-0 bg-a">A</span>
                                <span *ngIf="m.Result.CreditRating === 'BBB'" class="btn btn-xs btn-primary rounded border-0 bg-bbb">BBB</span>
                                <span *ngIf="m.Result.CreditRating === 'BB'" class="btn btn-xs btn-primary rounded border-0 bg-bb">BB</span>
                                <span *ngIf="m.Result.CreditRating === 'B'" class="btn btn-xs btn-primary rounded border-0 bg-b">B</span>
                                <span *ngIf="m.Result.CreditRating === 'C'" class="btn btn-xs btn-primary rounded border-0 bg-c">C</span>
                            </div>
                            <div>{{m.Result.MaturityDate | date: 'MM/dd/yyyy'}}</div>
                            <div>USD</div>
                            <div>{{m.Result.Coupon}}%</div>
                            <div>
                                <a (click)="selectMortgage(m)" href="javascript:;" data-toggle="modal" data-target="#orderBookModal">
                                    <img src="./assets/images/book.png" alt="">
                                </a>
                            </div>
                            <div>
                                <span *ngIf="m.Buy.length > 0" class="btn-green-gr font-14">{{m.Buy[0].Price | currency}}</span>
                                <br>
                                <span *ngIf="m.Sell.length > 0" class="btn-red-gr font-14">{{m.Sell[0].Price | currency}}</span>
                            </div>
                            <div>
                                <span *ngIf="m.Buy.length > 0" class="btn-green-gr font-14">{{m.Buy[0].Yield | number: '1.2-2'}}%</span>
                                <br>
                                <span *ngIf="m.Sell.length > 0" class="btn-red-gr font-14">{{m.Sell[0].Yield | number: '1.2-2'}}%</span>
                            </div>
                            <div>

                                <button [disabled]="m.Buy.length <= 0" (click)="selectSubMortgage(m, m.Buy[0])" href="javascript:;" data-dismiss="modal" data-toggle="modal" data-target="#fmsOrderModal" class="btn btn-sm btn-primary rounded gr-bdr-btn">
                    &nbsp;
                    <span>Buy</span>
                </button>
                                <!-- <a href="javascript:;" class="btn btn-xs rounded btn-blue" data-toggle="modal" data-target="#fmsOrderModal">Buy</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============= REGION: Table ============= -->

    <!-- ============= REGION: Pop-Up Order Book ============= -->
    <div class="modal fade bd-example-modal-lg" id="orderBookModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Order Book</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-space-between bg-dark mb-5">
                        <div class="col-auto mr-auto text-white p-3">
                            <span *ngIf="selectedMortgage" class="text-gray">FMSID:</span> {{selectedMortgage.Result.FMSID}}
                        </div>
                        <div class="col-auto text-white p-3">
                            <span *ngIf="selectedMortgage" class="text-gray">Type/Region:</span> {{selectedMortgage.Result.Type}}/{{selectedMortgage.Result.Region}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="btn btn-block tbl-heading bg-red-gr text-white"> BIDS</div>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Yield</th>
                                        <th>Updated</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let s of selectedMortgage.Sell">
                                        <td>
                                            {{s.Quantity}}
                                        </td>
                                        <td>
                                            {{s.Price | currency}}
                                        </td>
                                        <td>
                                            {{s.Yield | number: '1.2-2'}}
                                        </td>
                                        <td>
                                            --
                                        </td>
                                        <td>
                                            <span data-toggle="modal" data-target="#serviceModal" data-dismiss="modal" class="btn btn-xs btn-red-gr text-uppercase">Sell</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <div class="btn btn-block bg-green-gr tbl-heading text-white"> OFFERS</div>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Price</th>
                                        <th>Yield</th>
                                        <th>Updated</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let b of selectedMortgage.Buy">
                                        <td>
                                            {{b.Quantity}}
                                        </td>
                                        <td>
                                            {{b.Price | currency}}
                                        </td>
                                        <td>
                                            {{b.Yield | number: '1.2-2'}}
                                        </td>
                                        <td>
                                            --
                                        </td>
                                        <td>
                                            <span (click)="selectSubMortgage(selectedMortgage, b)" href="javascript:;" data-toggle="modal" data-target="#fmsOrderModal" class="btn btn-xs btn-green-gr text-uppercase">Buy</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============= REGION: Pop-Up Order Book ============= -->

    <!-- ============= REGION: Pop-Up Details ============= -->
    <div class="modal fade bd-example-modal-lg" id="fmsOrderModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">FMS Order</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-space-between bg-dark mb-4 align-items-center">
                        <div class="col-auto mr-auto text-white p-3">
                            <select class="form-control form-control-sm">
                    <option>{{USER_INFO.UserInfo.Name}}</option>
                    </select>
                        </div>
                        <div class="col-auto text-white p-3">
                            <span class="text-gray">Available Cash:</span> {{selectedMortgage.Result.UserCashBalance | currency}}
                        </div>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-lg-5 pr-5">
                            <div class="mb-4">
                                <label class="text-blue">
                        Order Type
                        <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                    </label>
                                <div>
                                    <span class="form-control form-control-sm bg-light w-auto">Buy Order</span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="text-blue">
                        FMSID:
                        <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                    </label>
                                <div>
                                    <span *ngIf="selectedSubMortgage" class="form-control form-control-sm bg-light w-auto">{{selectedSubMortgage.FMSID}}</span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="text-blue">
                        Issuer:
                        <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                    </label>
                                <div>
                                    <span class="form-control form-control-sm bg-light w-auto">VIVA NETWORK HOLDINGS LIMITED</span>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label class="text-blue">
                        Quantity:
                        <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                    </label>
                                <div>
                                    <span class="text-gray">Maximum available at this price:
                        <span class="text-green">{{selectedSubMortgage?.Quantity}}</span>
                                    </span>
                                </div>
                                <div class="err-msg-height mt-2">
                                    <span class="text-danger" *ngIf="selectedQuantity > selectedSubMortgage?.Quantity && selectedMortgage?.Result.UserCashBalance > (selectedQuantity * selectedSubMortgage?.Price)">Max. quantity exceeded</span>
                                    <span class="text-danger" *ngIf="selectedMortgage?.Result.UserCashBalance < (selectedQuantity * selectedSubMortgage?.Price)">Insufficient Cash Balance</span>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <!-- <span *ngIf="selectedSubMortgage" class="form-control form-control-sm bg-light w-auto">{{selectedSubMortgage.Quantity}}</span> -->
                                        <input (keyup)="checkInputForFloatingNumbers()" [(ngModel)]="selectedQuantity" type="number" class="form-control form-control-sm" value="0" />
                                        <div class="mt-4">
                                            <label class="text-blue">
                                                    Execution Type:
                                                </label>
                                            <div>
                                                <span class="form-control form-control-sm bg-light w-auto">Fill or Kill</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div data-toggle="modal" data-target="#serviceModal" data-dismiss="modal" class="text-center link-box">
                                            <div class="link-box-img">
                                                <img src="./assets/images/calc.png" alt="">
                                            </div>
                                            <div class="link-box-body">
                                                Yield Calculator
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div (click)="modalClose()" class="text-center link-box">
                                            <div class="link-box-img">
                                                <img src="./assets/images/book.png" alt="">
                                            </div>
                                            <div class="link-box-body">
                                                Order
                                                <br> Book
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="amount-detail mt-4">
                                    <div class="amount-item">
                                        <div class="name">Price</div>
                                        <div *ngIf="selectedSubMortgage" class="amount">{{selectedSubMortgage.Price | currency}}</div>
                                    </div>
                                    <div class="amount-item">
                                        <div class="name">Yield</div>
                                        <div *ngIf="selectedSubMortgage" class="amount">{{selectedSubMortgage.Yield | number: '1.2-2'}}%</div>
                                    </div>
                                    <div class="amount-item last">
                                        <div class="name">Total</div>
                                        <div *ngIf="selectedSubMortgage" class="amount">{{selectedSubMortgage.Price * selectedQuantity | currency}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="text-blue p-3 text-left btn-block bg-darker btn tbl-heading">Recent Trade Activity
                                <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                            </div>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th>
                                            Trade Time
                                        </th>
                                        <th>
                                            Quantity
                                        </th>
                                        <th>
                                            Price
                                        </th>
                                        <th>
                                            Yield
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            N/A
                                        </td>
                                        <td>
                                            N/A
                                        </td>
                                        <td>
                                            N/A
                                        </td>
                                        <td>
                                            N/A
                                        </td>
                                        <td>
                                            N/A
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div>
                                <div class="text-blue p-3 text-left btn-block bg-darker btn tbl-heading">Recent Trade Activity
                                    <a href="javascript:;" class="info-tooltip" title="Unique identification number of order">?</a>
                                </div>
                                <div class="bg-dark p-3 pb-5">
                                    <div class="row">
                                        <div class="col-md-6 p-0">
                                            <div class="amount-detail mt-4 bg-none">
                                                <div class="amount-item">
                                                    <div class="name bg-dark">Coupon</div>
                                                    <div *ngIf="selectedSubMortgage" class="amount bg-dark">{{selectedSubMortgage.Coupon | number: '1.2-2'}}%</div>
                                                </div>
                                                <div class="amount-item">
                                                    <div class="name bg-dark">Maturity Date</div>
                                                    <div *ngIf="selectedSubMortgage" class="amount bg-dark">{{selectedSubMortgage.MaturityDate | date: 'MM/dd/yyyy'}}</div>
                                                </div>
                                                <div class="amount-item">
                                                    <div class="name bg-dark">Yield to Maturity</div>
                                                    <div *ngIf="selectedSubMortgage" class="amount bg-dark">{{selectedSubMortgage.Yield | number: '1.2-2'}}%</div>
                                                </div>
                                                <div class="amount-item ">
                                                    <div class="name bg-dark">WAL</div>
                                                    <div class="amount bg-dark">
                                                        <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">VIEW</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="amount-detail mt-4">
                                                <div class="amount-item">
                                                    <div class="name">Rating</div>
                                                    <div *ngIf="selectedSubMortgage" class="amount">{{selectedSubMortgage.CreditRating}}</div>
                                                </div>
                                                <div class="amount-item">
                                                    <div class="name">Region</div>
                                                    <div *ngIf="selectedSubMortgage" class="amount">{{selectedSubMortgage.Region}}</div>
                                                </div>
                                                <div class="amount-item">
                                                    <div class="name">Frequency</div>
                                                    <div class="amount">Monthly</div>
                                                </div>
                                                <div class="amount-item ">
                                                    <div class="name">Collateralized</div>
                                                    <div class="amount">95%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="quick-link-box">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">Risk Report </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">Disclosure Info</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">Material Events</a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a href="javascript:;" data-toggle="modal" data-target="#serviceModal" data-dismiss="modal">View Contracts</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row justify-content-space-between align-items-center">
                            <div class="col-auto text-white mr-auto">
                                Please review details before placing your order.
                            </div>
                            <div class="col-auto">
                                <button [disabled]="selectedQuantity > selectedSubMortgage?.Quantity || selectedMortgage.UserCashBalance < (selectedQuantity * selectedSubMortgage?.Price) || !selectedQuantity || selectedQuantity <= 0" *ngIf="!isPurchaseLoading && selectedMortgage && selectedSubMortgage"
                                    (click)="buyMortgage()" class="btn bg-green-gr text-uppercase text-white">Confirm</button>
                                <div *ngIf="isPurchaseLoading" class="loader mini">
                                    <svg class="circular" viewBox="25 25 50 50">
                                                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                                            </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============= REGION: Pop-Up Details ============= -->
</div>
<!-- ============= REGION: Content Container ============= -->