.color-guid {
    margin-top: 0;
    margin-bottom: 20px;
    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-right: 15px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 600;
            i {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 20px;
                margin-right: 3px;
            }
            &.item-1 i {
                background: #F23A2C;
            }
            &.item-2 i {
                background: #52b974;
            }
        }
    }
}

.heading-row {
    display: flex;
    >div {
        flex: 1;
        color: #b6bacd;
        font-size: 14px;
        text-align: center;
    }
}

.data-sec {
    margin-bottom: 13px;
    .data-sec-head {
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        color: #ffffff;
        background: #2f3243;
        font-size: 14px;
        border-radius: 5px 5px 0 0;
        span.text-gray {
            color: #7c7f8f;
        }
    }
    .data-sec-body {
        background: #2d2f3c;
        display: flex;
        align-items: center;
        border-radius: 0 7px 0 7px;
        >div {
            flex: 1;
            text-align: center;
            color: #ffffff;
            position: relative;
            &:last-child {
                min-height: 80px;
                background: #23242f;
                display: flex;
                text-align: center;
                align-content: center;
                align-items: center;
                justify-content: center;
                border-bottom-right-radius: 7px;
                .btn {
                    min-width: 100px;
                    @media screen and (max-width: 1024px) {
                        min-width: 50px;
                    }
                }
            }
            .view-btn {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 22px;
                height: 50px;
                background: #252738;
                color: #1b90ec;
                border-radius: 0 5px 5px 0;
                display: block;
                -webkit-text-emphasis: center;
                text-emphasis: center;
                margin: auto;
                text-decoration: none;
                padding: 4px 2px 0 0;
                span {
                    transform: rotate(90deg);
                    display: block;
                }
            }
        }
    }
}

.tbl-heading {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-control {
    border-radius: 0;
    background: #232635;
    color: #ffffff;
    border: 0;
    outline: 0;
    &.form-control-sm {
        padding: 0.45rem 1rem 0.25rem;
        height: 35px;
    }
}

.info-tooltip {
    color: #454758;
    font-size: 12px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #696c7f;
    text-align: center;
}

.w-auto {
    width: auto !important;
    display: inline-block;
}

.form-control.bg-light {
    background-color: #282b3a !important;
}

.amount-detail {
    background: #232635;
    color: #ffffff;
    border-radius: 7px;
    padding-top: 15px;
    .amount-item {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 10px 18px;
        &:after {
            content: '';
            width: 90%;
            height: 1px;
            background: #1c1e2b;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
        .name {
            background: #232635;
            position: relative;
            z-index: 2;
            padding-right: 10px;
        }
        .amount {
            background: #232635;
            z-index: 2;
            padding-left: 10px;
            position: relative;
            text-align: right;
        }
        &.last {
            background: #1b90ec;
            border-radius: 0 0 7px 7px;
            .name,
            .amount {
                background: none;
            }
            &:after {
                content: '';
                width: 0;
            }
        }
    }
}

.quick-link-box {
    background: #3c3e4f;
    padding: 10px 15px;
    text-align: center;
    border-radius: 0 0 5px 5px;
    ul {
        margin-bottom: 0;
        li {
            padding: 3px 20px;
            margin: 0;
            &:not(:last-child) {
                border-right: 1px solid #1c1d2a;
            }
            a {
                color: #abacb5;
            }
        }
    }
}

.bg-aaa {
    background: #ffae00;
}

.bg-aa {
    background: #ff7e00;
}

.bg-a {
    background: #ff5400;
}

.bg-bbb {
    background: #ff009c;
}

.bg-bb {
    background: #ff00ea;
}

.bg-b {
    background: #d200ff;
}

.bg-c {
    background: #4babb1;
}