header {
    background: #2f3243;
    padding: 10px 50px 10px 20px;
    box-shadow: 0px 4px 9.6px 6.4px rgba(0, 0, 0, 0.07);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11;
    @media screen and (max-width: 1250px) {
        padding: 10px 60px 10px 15px;
    }
    >div {
        display: flex;
        justify-content: space-between;
    }
    .header-dropdown {
        img {
            margin-right: 5px;
            @media screen and (max-width: 1250px) {
                display: none;
            }
        }
        a.dropdown-toggle {
            color: #ffffff;
            display: inline-block;
            @media screen and (max-width: 1250px) {
                padding: 10px 0;
            }
            &::after {
                vertical-align: middle !important;
                margin-left: 7px;
                @media screen and (max-width: 1250px) {
                    margin-left: 4px;
                }
            }
        }
        .dropdown-menu {
            background: #24242f;
            margin: 0.8rem 0 0;
            a {
                color: rgba(182, 186, 205, 0.502);
                &:hover {
                    background: #2a2c3c;
                    color: rgba(182, 186, 205, 1);
                }
            }
        }
    }
}

.hamburger {
    position: absolute;
    right: 10px;
    top: 17px;
    bottom: 0;
    margin: auto;
    display: none;
    @media screen and (max-width: 1250px) {
        display: block;
    }
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

.hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-9px) rotate(-45deg);
    -ms-transform: translateY(-9px) rotate(-45deg);
    -o-transform: translateY(-9px) rotate(-45deg);
    transform: translateY(-9px) rotate(-45deg);
}

.left-nav {
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    background: #2f3243;
    padding: 100px 0 10px;
    transition: all .5s;
    z-index: 10;
    @media screen and (max-width: 1250px) {
        width: 290px;
        left: -290px;
        &.open {
            left: 0;
            z-index: 10;
        }
    }
    ul {
        li {
            a {
                font-size: 16px;
                color: rgba(182, 186, 205, 0.502);
                padding: 25px 25px 25px 15px;
                display: block;
                text-decoration: none;
                clear: both;
                i {
                    display: block;
                    float: right;
                    width: 27px;
                    height: 29px;
                }
                &:hover {
                    background: #2c2f40;
                }
                &.active {
                    color: #1b90ed;
                    background: #2a2c3c;
                    i {
                        background-position: center top;
                    }
                }
            }
            &.menu-item-dashboard i {
                background: url("/assets/images/nav-bar/dash-board.png") no-repeat center bottom;
            }
            &.menu-item-myInvest i {
                background: url("/assets/images/nav-bar/my-investment.png") no-repeat center bottom;
            }
            &.menu-item-vivaMortage i {
                background: url("/assets/images/nav-bar/viva-mortgage-plateform.png") no-repeat center bottom;
            }
            &.menu-item-fms i {
                background: url("/assets/images/nav-bar/fms-exchange.png") no-repeat center bottom;
            }
            &.menu-item-auto-reinvest i{
              background: url("/assets/images/nav-bar/auto-investment.png") no-repeat center bottom;
            }
            &.menu-item-diver-wizard i{
              background: url("/assets/images/nav-bar/diversification-wizard.png") no-repeat center bottom;
            }
            &.menu-item-setting i{
              background: url("/assets/images/nav-bar/settings.png") no-repeat center bottom;
            }
        }
    }
}
