<header>
    <div>
        <div class="logo"><img src="./assets/images/logo.png" alt=""></div>
        <div class="header-dropdown" *ngIf="user">
            <div class="dropdown">
                <a style="cursor: pointer;" class="dropdown-toggle" data-toggle="dropdown">
                    <img src="./assets/images/user.png" alt=""> {{user.UserInfo.Name}}
                </a>
                <div class="dropdown-menu">
                    <a style="cursor: pointer;" data-toggle="modal" data-target="#serviceModal" class="dropdown-item">My Account</a>
                    <a style="cursor: pointer;" (click)="doLogout()" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
        <div class="hamburger" id="hamburger-6" (click)="hamburgerClick()" [ngClass]="navAnimate ? 'is-active' : ''">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</header>
<div class="left-nav" [ngClass]="navAnimate ? 'open' : ''">
    <ul class="list-unstyled">
        <li class="menu-item-dashboard"><a routerLink="/dashboard/home" (click)="hamburgerClick()" routerLinkActive="active">Dashboard <i></i></a></li>
        <li class="menu-item-myInvest"><a routerLink="/dashboard/investment" (click)="hamburgerClick()" routerLinkActive="active">My Investments <i></i> </a></li>
        <li class="menu-item-vivaMortage"><a routerLink="/dashboard/mortgage" (click)="hamburgerClick()" routerLinkActive="active">Viva Mortgage Platform <i></i> </a></li>
        <li class="menu-item-fms"><a routerLink="/dashboard/fms" (click)="hamburgerClick()" routerLinkActive="active">FMS Exchange <i></i></a></li>
        <li class="menu-item-auto-reinvest"><a href="javascript:;" data-toggle="modal" data-target="#serviceModal">Auto Reinvestment<i></i></a></li>
        <li class="menu-item-diver-wizard"><a href="javascript:;" data-toggle="modal" data-target="#serviceModal">Diversification Wizard<i></i></a></li>
        <li class="menu-item-setting"><a href="javascript:;" data-toggle="modal" data-target="#serviceModal">Settings<i></i></a></li>
    </ul>
</div>