.main-content {
    background: #252733 url("/assets/images/globe-2.png") no-repeat 297px 67px;
    padding: 80px 50px 50px 330px;
    @media screen and (max-width: 1250px) {
        padding: 70px 20px 50px 20px;
        background-position: left 67px;
    }
}