<app-nav></app-nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
<footer>
    ©2018 VIVA. All Rights Reserved.
</footer>
<div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">&nbsp;</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body pb-4">
                <div class="text-center">
                    <div class="p-3">
                        <img src="./assets/images/service.png" alt="">
                    </div>
                    <h2 class="text-white">To use this service, Apply Now for</h2>
                    <h3 class="text-uppercase text-blue">cobalt membership</h3>
                    <a href="javascript:;" class="btn btn-lg rounded text-uppercase bg-green-gr w-50 text-white">Apply now</a>
                </div>
            </div>
        </div>
    </div>
</div>