/* You can add global styles to this file, and also import other style files */

@import "~ng-snotify/styles/material";
@font-face {
    src: url("/assets/fonts/Overpass-Black.ttf");
    font-family: "overpass-black";
}

@font-face {
    src: url("/assets/fonts/Overpass-BlackItalic.ttf");
    font-family: "overpass-black-italic";
}

@font-face {
    src: url("/assets/fonts/Overpass-Bold.ttf");
    font-family: "overpass-bold";
}

@font-face {
    src: url("/assets/fonts/Overpass-BoldItalic.ttf");
    font-family: "overpass-bold-italic";
}

@font-face {
    src: url("/assets/fonts/Overpass-ExtraBold.ttf") format("ttf"), url("/assets/fonts/overpass-bold-webfont.woff") format("woff"), url("/assets/fonts/overpass-bold-webfont.woff2") format("woff2"), ;
    font-family: "overpass-extra-bold";
}

@font-face {
    src: url("/assets/fonts/Overpass-ExtraBoldItalic.ttf");
    font-family: "overpass-extra-bold-italic";
}

@font-face {
    src: url("/assets/fonts/Overpass-ExtraLight.ttf");
    font-family: "overpass-extra-light";
}

@font-face {
    src: url("/assets/fonts/Overpass-ExtraLightItalic.ttf");
    font-family: "overpass-extra-light-italic";
}

@font-face {
    src: url("/assets/fonts/Overpass-Italic.ttf");
    font-family: "overpass-italic";
}

@font-face {
    src: url("/assets/fonts/Overpass-Light.ttf");
    font-family: "overpass-light";
}

@font-face {
    src: url("/assets/fonts/Overpass-LightItalic.ttf");
    font-family: "overpass-light-italic";
}

@font-face {
    src: url("/assets/fonts/overpass-regular-webfont.ttf") format("ttf"), url("/assets/fonts/overpass-regular-webfont.woff") format("woff"), url("/assets/fonts/overpass-regular-webfont.woff2") format("woff2");
    font-family: "overpass-regular";
}

@font-face {
    src: url("/assets/fonts/Overpass-SemiBold.ttf") format("ttf"), url("/assets/fonts/overpass-semibold-webfont.woff") format("woff"), url("/assets/fonts/overpass-semibold-webfont.woff2") format("woff2"), ;
    font-family: "overpass-semibold";
}

@font-face {
    src: url("/assets/fonts/Overpass-SemiBoldItalic.ttf");
    font-family: "overpass-semibold-italic";
}

@font-face {
    src: url("/assets/fonts/Overpass-Thin.ttf");
    font-family: "overpass-thin";
}

@font-face {
    src: url("/assets/fonts/Overpass-ThinItalic.ttf");
    font-family: "overpass-thin-italic";
}

body {
    font-family: "overpass-regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    font-family: "overpass-bold";
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 12px;
    font-family: "overpass-regular";
}

h6 {
    font-size: 12px;
    font-family: "overpass-regular";
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.font-14 {
    font-size: 14px;
}

.text-gray {
    color: #6e7181;
}

.text-green {
    color: #00cd80;
}

.text-red {
    color: #fa302f;
}

.text-blue {
    color: #35a6ff;
}

.bg-dark {
    background-color: #282b3a !important;
}

.bg-darker {
    background-color: #1f212f !important;
}

.bg-none {
    background: none !important;
}

.heading {
    color: #ffffff;
    &.with-bar {
        position: relative;
        padding-bottom: 5px;
        &:after {
            content: '';
            width: 32px;
            height: 1px;
            background: #1b90ed;
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
        }
    }
    &+.subtitle {
        font-size: 14px;
        color: #b6bacd;
        opacity: 0.5;
        display: block;
        margin-top: 10px;
    }
}

text.highcharts-credits {
    display: none;
}

footer {
    text-align: center;
    padding: 15px;
    background: #1e1f2b;
    color: #a3a7ac;
    position: relative;
    z-index: 12;
}

.modal-content {
    background: #2f3243;
    border: 0;
    .modal-header {
        color: #ffffff;
        border-color: #282b3a;
        .close {
            font-size: 2.5em;
            text-shadow: none;
            color: #fe6666;
            outline: none;
            transition: all .3s;
            &:hover {
                color: #fe6666;
            }
        }
    }
    .modal-body {
        padding-top: 0;
        font-size: 14px;
        background: #2c2e3e;
        font-family: "overpass-semibold";
    }
    .modal-footer {
        background: #282b3a;
        border: 0;
    }
}

@media (min-width:1100px) {
    .modal-lg {
        max-width: 1070px;
    }
}

.table {
    thead {
        tr {
            th {
                border-bottom: 0;
                border-top: 0;
                background: #282b3a;
                color: #6e7181;
            }
        }
    }
    tbody {
        tr {
            td {
                border-color: #2f3243;
                color: #ffffff;
                background: #232635;
                vertical-align: middle;
            }
            &tr:first-child {
                td {
                    border-top: 0;
                }
            }
        }
    }
}

.link-box {
    border: 1px solid #3a3d4e;
    border-radius: 7px;
    cursor: pointer;
    background: #232635;
    .link-box-img {
        padding: 15px 0 0;
    }
    .link-box-body {
        padding: 15px 10px;
        color: #ffffff;
    }
}

.btn-blue {
    background: #1b90ec;
    color: #ffffff;
}

.rounded {
    border-radius: 30px !important;
}

.tbl-responsive {
    overflow-x: auto;
    >div {
        min-width: 900px;
    }
}

.tbl-responsive-big {
    overflow-x: auto;
    >div {
        min-width: 1000px;
    }
}

.heat-chart svg path {
    stroke: none !important;
    stroke-width: 0 !important;
}

.heat-chart svg path[fill*="#_ABSTRACT_RENDERER_ID"] {
    stroke-width: 0 !important;
    fill: none !important;
}

.heat-chart svg path[fill="#f5f5f5"] {
    stroke-width: 0 !important;
    fill: url("https://viva-mvp.firebaseapp.com/dashboard/home" + "#defaultFill") !important;
}

.heat-chart svg path[fill="#ee6b38"] {
    stroke-width: 0 !important;
    fill: url("https://viva-mvp.firebaseapp.com/dashboard/home" + "#color2") !important;
}

.heat-chart svg path[fill="#f1c83e"] {
    stroke-width: 0 !important;
    fill: url("https://viva-mvp.firebaseapp.com/dashboard/home" + "#color1") !important;
}

.heat-chart svg path[fill="#e64b39"] {
    stroke-width: 0 !important;
    fill: url("https://viva-mvp.firebaseapp.com/dashboard/home" + "#color4") !important;
}

.heat-chart svg path[fill="#e74e05"] {
    stroke-width: 0 !important;
    fill: url("https://viva-mvp.firebaseapp.com/dashboard/home" + "#color3") !important;
}

#serviceModal {
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }
}

// Loader CSS
$green: #008744;
$blue: #1b90ec;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;
// scaling... any units
$width: 70px;
body {
    background-color: $white;
}

// demo-specific
// end demo-specific
.loader {
    position: relative;
    margin: 0 auto;
    width: $width;
    &:before {
        content: '';
        display: block;
        padding-top: 100%;
    }
    &.mini {
        width: 35px;
    }
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes color {
    0% {
        stroke: $blue;
    }
    100% {
        stroke: $blue;
    }
}

.btn-red-gr,
.btn-green-gr {
    display: inline-block;
    color: #ffffff;
    padding: 7px 10px 4px;
    min-width: 50px;
    border-radius: 20px;
    line-height: 1;
    margin-bottom: 5px;
}

.btn-green-gr,
.bg-green-gr {
    background: #22b8a2;
    background: -moz-linear-gradient(top, #22b8a2 0%, #2fb954 100%);
    background: -webkit-linear-gradient(top, #22b8a2 0%, #2fb954 100%);
    background: linear-gradient(to bottom, #22b8a2 0%, #2fb954 100%);
}

.btn-red-gr,
.bg-red-gr {
    background: #fd6041;
    background: -moz-linear-gradient(top, #fd6041 0%, #fa3732 100%);
    background: -webkit-linear-gradient(top, #fd6041 0%, #fa3732 100%);
    background: linear-gradient(to bottom, #fd6041 0%, #fa3732 100%);
}

.btn-xs {
    padding: 7px 10px 4px;
    line-height: 1;
}

.gr-bdr-btn {
    background: #2ead60;
    background: -moz-linear-gradient(left, #2ead60 0%, #7db9e8 100%);
    background: -webkit-linear-gradient(left, #2ead60 0%, #7db9e8 100%);
    background: linear-gradient(to right, #2ead60 0%, #7db9e8 100%);
    position: relative;
    span {
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        background: #2d2f3c;
        border-radius: 20px;
        padding: 3px 0;
    }
}

.sorting {
    cursor: pointer;
    span {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 25px;
            background: url("/assets/images/sorting.png") no-repeat center top;
            margin-right: 5px;
            vertical-align: middle;
            transition: all .2s;
        }
    }
    &.sorted {
        span {
            &:after {
                background-position: center bottom;
            }
        }
    }
}

.filter-menu {
    background: #1b8ee9 !important;
    a {
        color: #ffffff !important;
        &:hover {
            background: #1380d6;
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.err-msg-height {
    min-height: 22px;
}

.scroll-content {
    overflow: auto;
}

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
    width: 6px !important;
    height: 6px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}